* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12%;
  padding-right: 16%;
}

.logo_name {
  font-size: 26px;
  color: #ffffff;
}

.logo_name:hover {
  color: #9b44ff;
}

.pages {
  text-align: center;
}

.pages a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  margin-right: 10px;
  transition: color 0.3s;
}

.pages a:hover {
  color: #983bff85;
}

.trip_poster {
  background-image: url("https://images.unsplash.com/photo-1546205811-43c360b42f1c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  height: 540px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.main_text {
  height: 100px;
  width: 100%;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_text h1,
.main_text h3,
.main_text button {
  margin: 5px;
}

.ex_btn {
  padding: 10px 20px;
  background-color: #7700ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ex_btn:hover {
  background-color: #0056b3;
}

.line_first {
  text-align: center;
  font-size: 40px;
  color: #983bff85;
}

.line_first:hover {
  color: #7700ff;
}

.line_sec {
  text-align: center;
  font-size: 28px;
  padding-top: 8px;
  color: #983bff85;
}

.line_sec:hover {
  color: #6d14d1;
}

.tegline_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tegline_h3 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
  color: #73828d;
}

.img_first {
  height: 120px;
  width: 150px;
}

.img_sec {
  height: 120px;
  width: 150px;
}

.main_card {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 30px;
}

.card_text {
  padding-top: 50px;
  padding-left: 30px;
}

.text_p {
  margin-top: 12px;
  line-height: 25px;
}

.choose_btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #7c94d4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.card_pic {
  width: 100%;
  height: auto;
}

.card_pic {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.card_img:hover .card_pic {
  border-radius: none;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
  .nav {
    padding-left: 5%;
    padding-right: 5%;
  }

  .main_text {
    margin-top: 100px;
  }

  .main_card {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
