* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12%;
  padding-right: 16%;
}

.logo_name {
  font-size: 26px;
  color: #ffffff;
} 

.logo_name:hover{
    color: #9b44ff;
}

.pages {
  text-align: center;
}

.pages a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  margin-right: 10px;
  transition: color 0.3s;
}

.pages a:hover {
    color: #983bff85;
}

.trip_poster {
    background-image: url("https://images.unsplash.com/photo-1546205811-43c360b42f1c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: 100%;
    height: 540px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.line_first{
    padding-top:150px;
    text-align: center;
    font-size: 40px;
    color: #983bff85;

}

.line_sec{
    text-align: center;
    font-size: 28px;
    padding-top: 8px;
    color: #983bff85;

}

.tegline_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tegline_h3{
    margin-top: 40px;
    font-size: 28px;
    color:#73828d;
}

.img_first{
    height: 120px;
    width: 150px;
}

.img_sec{
    height: 120px;
    width: 150px;
}


